body {
  font-family: "NTR", sans-serif;
  font-size: 1.7rem;
}

h1, h2, h3, .card-body>.card-title {
  font-family: "Montserrat"
}

.card-title {
  font-weight: 500;
  font-size: 1.25rem;
}

h2 {
  color: #3165a4ee;
}


.searchbutton {
  padding: 50px;
  background-color: #4CAF50;
  border: none;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}


.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-image: linear-gradient(#85a8b1, white);
  padding: 20px 0;
  font-size: 1.2rem
}

.jumbotron {
  margin: 0;
  padding: 50px;
  background-image: linear-gradient(to right, #293f4d, #345d89, #52aada);
  color: white;
}

.jumbotron h1 {
  font-size: 4rem;
}

.jumbotron h2 {
  color: #6aabb5;
}

.navbar-dark {
  background-color: #32323a;
}

.site-footer a:link {
  text-decoration: none;
}

.page-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: 300ms ease-out;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: 300ms ease-in;
}

.error-text {
  font-family: "Montserrat";
  font-size: 1rem;
  color: #db3b2e;
}

.center-form {
  align-items: flex-end;
}

.jumboweather {
  margin: 0;
  padding: 50px;
  background-image: linear-gradient(to right, #292d30, #3f5976, #52aada);
  color: white;
}

.jumboweather h2 {
  color: #ffffff
}

.jumboweather h1 {
  color: #cb0808
}

.noalertjumbo {
  margin: 0;
  padding: 50px;
  background-image: linear-gradient(to right, #015e1f, #00ba69, #c3fbe0);
  color: white;
}
